@page "/customer-dashboard/{UserDetailId}/reviews"
@layout CustomerLayout
@rendermode InteractiveServer
@using EcommerceDBProject.Components.Layout
@using Syncfusion.Blazor.Popups;
@using Syncfusion.Blazor.Buttons;

<style>
    .container {
        width: 96%;
        margin: 10px 10px 10px 10px;
        background-color: #fff;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(223,214,214);
    }

    .head {
        background-color: #355c7d;
        color: #fff;
    }

    .hover-design {
        background-color: #dae7f5;
        border-bottom: 1px solid black
    }

    }
</style>
<div class="container">
    <div class="col-12 text-center">
        <h1 style="color:#234b6e;font-weight:bold;font-family:Arial, Helvetica, sans-serif">Your Reviews</h1>
    </div>
    <div class="col-12">
        <table class="table">
            <thead class="head">
                <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Seller Name</th>
                    <th scope="col">Order Date</th>
                    <th scope="col">Review</th>
                    <th scope="col">Comment</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var review in CustomerReviewsList)
                {
                        <tr class="hover-design">
                            <th scope="row">@review.OrderId</th>
                            <td>@review.InventoryItemName</td>
                            <td>@review.SellerName</td>
                            <td>@review.OrderDate</td>
                            <td>@review.ReviewStars</td>
                            <td>@review.ReviewText</td>
                        </tr>
                }

            </tbody>
        </table>
    </div>
</div>
<BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.TopRight"
                Timeout="9999999"
                IconType="IconType.FontAwesome"
                ErrorIcon="error_outline"
                InfoIcon="school"
                SuccessIcon="done_outline"
                WarningIcon="warning" />