@page "/customer-dashboard/{UserDetailId}/orders/"
@layout CustomerLayout
@rendermode InteractiveServer
@using EcommerceDBProject.Components.Layout
@using Syncfusion.Blazor.Popups;
@using Syncfusion.Blazor.Buttons;

<PageTitle>Custmomer Orders</PageTitle>

<style>
    .container {
        width: 90%;
        margin: 30px 20px 20px 30px;
        background-color: #fff;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(223,214,214);
    }

    .label-style {
        font-size: 18px;
        font-weight: bold;
        text-align: left;
        margin: 2px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .head {
        background-color: #355c7d;
        color: #fff;
    }

    .text-box {
        border: 1px solid #355c7d;
    }
    .hover-design {
        background-color: #dae7f5;
        border-bottom: 1px solid black
    }
    .button-style {
        background-color: #cf889d;
        width: 100px;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
        height: 30px;
        font-size: 18px;
        outline: 0;
        overflow: hidden;
        padding: 0 20px;
        pointer-events: auto;
        position: relative;
        text-align: center;
        touch-action: manipulation;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: top;
        white-space: nowrap;
        z-index: 9;
        border: 2px solid #c06c84;
        transition: box-shadow .2s;
    }

        .button-style:hover {
            box-shadow: #355c7d 0 3px 8px;
        }
</style>

<div class="container">
    <div class="col-12 text-center">
        <h1 style="color:#234b6e;font-weight:bold;font-family:Arial, Helvetica, sans-serif">Your Orders</h1>
    </div>
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="head">
                    <tr>
                        <th scope="col">Order ID</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total Price</th>
                        <th scope="col">Order Status</th>
                        <th scope="col">Review</th>
                        <th scope="col">Return</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var orderItem in OrdersList)
                    {
                        <tr class="hover-design">
                            <th scope="row">@orderItem.OrderId</th>
                            <td>@orderItem.InventoryItemName</td>
                            <td>@orderItem.OrderQuantity</td>
                            <td>@orderItem.TotalPrice</td>
                            <td>@orderItem.OrderStatus</td>
                            <td>
                                <SfButton Disabled="@orderItem.IsReviewButtonDisabled" CssClass="button-style" @onclick="() => OpenReviewDialog(orderItem)">
                                    Review
                                </SfButton>
                            </td>
                            <td>
                                <SfButton Disabled="@orderItem.IsReturnButtonDisabled" CssClass="button-style" @onclick="() => OpenReturnDialog(orderItem)">
                                    Return
                                </SfButton>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

<SfDialog CssClass="col-6" Width="40%" Target="#target1" IsModal="true" ShowCloseIcon="true" @bind-Visible="@InitialPageData.ShowReturnDialogBox">
    <DialogTemplates>
        <Content>
            <form class="row g-3 m-3">
                <div class="col-12">
                    <label class="text-center" style="font-size:25px;text-align:center;font-family:sans-serif;font-weight:bold">Return Product</label>
                </div>
                <div class="col-12 row p-0">
                    <div class="col-4 text-left">
                        <label class="label-style">Return Reason</label>
                    </div>
                    <div class="col-7">
                        <textarea class="text-box w-100" style="margin-left:-15px;" placeholder="Enter Reason" @bind="@ProductReturn.ReturnReason"></textarea>
                    </div>
                </div>
                <div class="col-12 row p-0">
                    <div class="col-4 text-left">
                        <label class="label-style">Quantity : </label>
                    </div>
                    <div class="col-7">
                        <input class="text-box w-100" style="margin-left:-15px;" type="number" min="1" max="@InitialPageData.OrderQuantityForReturn" @bind="@ProductReturn.Quantity"></input>
                    </div>
                </div>

                <div class="col-12 mt-3 text-center">

                    <button type="button" style="text-align:center;border-radius: 16px;border-width: 0 0 4px;width:150px;height:40px;margin:3px;" class="btn btn-secondary p-1" data-bs-dismiss="modal">
                        Close
                    </button>

                    <button type="button" style="text-align:center;border-radius: 16px;border-width: 0 0 4px;width:150px;height:40px;margin:3px;" class="btn btn-success p-1" @onclick="() => ConfirmReturn()">
                        Confirm Return
                    </button>

                </div>

            </form>
        </Content>
    </DialogTemplates>
    <DialogButtons>

    </DialogButtons>
    <DialogEvents OnOpen="@OnDialogOpenHandler"></DialogEvents>
    <DialogAnimationSettings Effect="@DialogEffect.None"></DialogAnimationSettings>
</SfDialog>

<SfDialog CssClass="col-6" Width="40%" Target="#target1" IsModal="true" ShowCloseIcon="true" @bind-Visible="@InitialPageData.ShowReviewDialogBox">
    <DialogTemplates>
        <Content>
            <form class="row g-3 m-3">
                <div class="col-12 text-center mb-2 mt-2">
                    <label class="text-center" style="font-size:25px;text-align:center;font-family:sans-serif;font-weight:bold">Review Product</label>
                </div>
                <div class="col-12 row p-0">
                    <div class="col-4 text-left">
                        <label class="label-style">Describe your Experience:</label>
                    </div>
                    <div class="col-7">
                        <textarea class="text-box w-100" style="margin-left:-15px;" placeholder="Write Experience" @bind="@ProductReview.ReviewText"></textarea>
                    </div>
                </div>
                <div class="col-12 row p-0">
                    <div class="col-4 text-left">
                        <label class="label-style">Rating(1-5) : </label>
                    </div>
                    <div class="col-7">
                        <input class="text-box w-100" style="margin-left:-15px;" type="number" min="0" max="5" @bind="@ProductReview.Rating"></input>
                    </div>
                </div>
                <div class="col-12 mt-3 text-center">

                    <button type="button" style="text-align:center;border-radius: 16px;border-width: 0 0 4px;width:150px;height:40px;margin:3px;" class="btn btn-secondary p-1" data-bs-dismiss="modal" @onclick="() => CloseDialog()">
                        Close
                    </button>

                    <button type="button" style="text-align:center;border-radius: 16px;border-width: 0 0 4px;width:150px;height:40px;margin:3px;" class="btn btn-success p-1" @onclick="() => AddCustomerReview()">
                        Add Review
                    </button>

                </div>
            </form>
        </Content>
    </DialogTemplates>
    <DialogButtons>

    </DialogButtons>
    <DialogEvents OnOpen="@OnDialogOpenHandler"></DialogEvents>
    <DialogAnimationSettings Effect="@DialogEffect.None"></DialogAnimationSettings>
</SfDialog>


<BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.TopRight"
                Timeout="9999999"
                IconType="IconType.FontAwesome"
                ErrorIcon="error_outline"
                InfoIcon="school"
                SuccessIcon="done_outline"
                WarningIcon="warning" />