@page "/customer-dashboard/{UserDetailId}"
@layout CustomerLayout
@rendermode InteractiveServer
@using Blazored.Toast
@using Blazored.Toast.Configuration
@using EcommerceDBProject.Components.Layout
@using Syncfusion.Blazor.Popups;
@using Syncfusion.Blazor.Buttons;

<PageTitle>Home Page</PageTitle>

<style>
    .blazored-toast-container {
        z-index: 99999;
    }

    .button-style {
        background-color: #cf889d;
        width: 200px;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
        height: 40px;
        font-size: 20px;
        line-height: 40px;
        outline: 0;
        overflow: hidden;
        padding: 0 20px;
        pointer-events: auto;
        position: relative;
        text-align: center;
        touch-action: manipulation;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: top;
        white-space: nowrap;
        z-index: 9;
        border: 0;
        transition: box-shadow .2s;
    }

        .button-style:hover {
            box-shadow: #355c7d 0 3px 8px;
        }

    .toast {
        display: none;
        padding: 1.5rem;
        color: #fff;
        z-index: 1;
        position: absolute;
        width: 25rem;
        top: 2rem;
        border-radius: 1rem;
        left: 50%;
    }

    .toast-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 1rem;
        font-size: 2.5rem;
    }

    .toast-body {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding-left: 1rem;
    }

        .toast-body p {
            margin-bottom: 0;
        }

    .toast-visible {
        display: flex;
        flex-direction: row;
        animation: fadein 1s;
    }

    .sidebar .sidebar-override {
        background-color: rgb(50,50,50);
        background-image: none;
        height: 100vh;
    }

    .format-style {
        font-family: Consolas;
        font-size: 12px;
        font-weight: bold;
        word-spacing: 3px;
    }

    .footer {
        height: 30px;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
    }


    .e-return-icon::before {
        content: '\e752';
    }

</style>

<style>
    .dialog-box {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        border: 1px solid black;
        z-index: 1000;
    }

    .label-style {
        font-size: 18px;
        font-weight: bold;
        text-align: left;
        margin: 2px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .category-label {
        display: block;
        margin-bottom: 8px;
        font-size: 18px;
        color: #333;
    }

    .category-select {
        width: 100%;
        padding: 16px;
        border: 2px solid lightgrey;
        border-radius: 5px;
        margin-top: 10px;
        background-color: #f5f5f5;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
        cursor: pointer;
        font-size: 16px;
        color: #333;
    }

        .category-select:hover {
            transform: translateY(-1px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

    .category-option {
        padding: 6px 5px;
        font-size: 16px;
        color: #333;
    }

    .product-card {
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 16px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        position: relative;
        background-color: #e4eff7;
        transition: transform 0.2s;
        margin-bottom: 16px;
    }

        .product-card:hover {
            transform: translateY(-2px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

    .product-card-checkbox {
        position: absolute;
        top: 16px;
        right: 16px;
        width: 20px;
        height: 20px;
        border: 1px solid #355c7d;
        border-radius: 3px;
        appearance: none;
        cursor: pointer;
        background-color: #fff;
        transition: background-color 0.2s;
    }

        .product-card-checkbox:checked {
            background: #355c7d;
            border-color: black;
        }

    .product-card-image {
        width: 90%;
        height: 200px;
        object-fit: cover;
        border-radius: 5px;
        margin-bottom: 16px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .product-card-name {
        margin: 0;
        margin-bottom: 8px;
        font-size: 24px;
        color: #333;
        text-shadow: 1px 1px 1px #ccc;
    }

    .product-card-description {
        margin: 0;
        margin-bottom: 16px;
        font-size: 16px;
        color: #666;
    }

    .product-card-quantity-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .product-card-quantity-price label {
            margin-right: 8px;
            font-size: 18px;
            color: #333;
        }

    .product-card-price {
        font-size: 24px;
        font-weight: bold;
        color: #355c7d;
    }
</style>

<div class="col-12 m-2 p-2 row">
    <div class="col-8 m-0 p-0 row">
        <div class="col-3 mt-3">
            <label style="font-size:18px;text-align:left;font-family:sans-serif;margin-top:10px;font-weight:bold;">Select Category : </label>
        </div>
        <div class="col-7 " style="margin-left:-20px;">
            <select class="category-select" id="category" name="category" @onchange="OnProductCategoryChanged">
                <option class="category-option" style="border:1px solid lightgrey;" value="no-select">
                    Select Category
                </option>
                @foreach (var productCategory in ProductCategories)
                {
                    <option class="category-option" style="border:1px solid lightgrey;"
                            value="@productCategory.CategoryId">
                        @productCategory.CategoryName
                    </option>
                }
            </select>
        </div>
    </div>
    <div class="col-4 p-0 text-right" style="text-align:right;margin-top:22px;">
        <button type="button" class="button-style" @onclick="OpenConfirmOrderModel">
            Order
        </button>
    </div>
</div>

<div class="mt-2 mb-2 mr-0 ml-0 p-0" style="border-bottom:1px solid lightgrey">

</div>

<div class="col-12 m-0 p-0 row">
    <div class="col-12 m-2">
        <h3 style="font-family:sans-serif;text-align:center;color:#355c7d;font-weight:bold">All Products</h3>
    </div>
    <div class="col-12 mt-2 row">
        @foreach (var inventoryItem in InventoryItemsList)
        {
            inventoryItem.Product = ProductService.GetProductFromProductId(inventoryItem.ProductId);
            inventoryItem.Seller = UserService.GetSellerFromSellerId(inventoryItem.SellerId);
            var sellerName = UserService.GetSellerFullNameFromSellerId(inventoryItem.SellerId);
            <div class="col-3">
                <div class="product-card" style="border:1px solid grey">
                    <div class="col-12">
                        <input style="border:2px solid black;" @onchange="(e) => OnInventoryItemSelect(inventoryItem, e)" type="checkbox" class="product-card-checkbox">
                    </div>
                    <img src="Products.jpg" alt="Example Image" class="product-card-image" style="border:1px solid black">
                    <h2 class="product-card-name m-1" style="font-weight:bold;">@inventoryItem.Product.ProductName</h2>
                    <p class="product-card-description">@inventoryItem.Product.ProductDescription</p>
                    <p class="product-card-description m-0 p-0" style="font-size:15px;color:black;font-family:sans-serif">Stock Amount: @inventoryItem.StockAmount</p>
                    <p class="product-card-description m-0 p-0" style="font-size:15px;color:black;font-family:sans-serif">Seller: @sellerName</p>
                    <div class="product-card-quantity-price">
                        <span class="product-card-price">$@System.Math.Round(inventoryItem.SalePrice, 2)</span>
                    </div>
                    <div class="product-card-quantity-price">
                        <label for="quantity">Quantity:</label>
                        <input readonly="@(!IsInventoryItemCheckboxChecked(inventoryItem))"
                               @onchange="(e) => OnSelectedInventoryItemQuantityChange(inventoryItem, e)"
                               type="number" id="quantity" name="quantity" min="1"
                               max="@inventoryItem.StockAmount" value="1">
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<SfDialog CssClass="col-6" Width="70%" Target="#target1" IsModal="true" ShowCloseIcon="true" @bind-Visible="@InitialPageData.IsOrderModelShow">
    <DialogTemplates>
        <Header>
            <div class="text-center">
                <label class="text-center" style="font-size:22px;text-align:center;font-family:sans-serif;font-weight:bold">Confirm Order</label>
            </div>
        </Header>
        <Content>
            <form class="row g-3 m-3">
                <div class="col-md-6 row">
                    <div class="col-4">
                        <label for="inputAddress" class="form-label label-style">House #</label>
                    </div>
                    <div class="col-8">
                        <input style="border:2px solid darkgrey ;margin:3px" type="text" class="form-control" id="inputAddress" placeholder="House # 2, Block D" @bind-value="@Address.HouseNumber">
                    </div>
                </div>
                <div class="col-md-6 row">
                    <div class="col-4">
                        <label for="inputAddress2" class="form-label label-style">Street</label>
                    </div>
                    <div class="col-8">
                        <input type="text" style="border:2px solid darkgrey;margin:3px" class="form-control" id="inputAddress2" placeholder="G.T. Road" @bind-value="@Address.Street">
                    </div>
                </div>

                <div class="col-md-6 row">
                    <div class="col-4">
                        <label for="inputCity" class="form-label label-style">City</label>
                    </div>
                    <div class="col-8">
                        <input type="text" style="border:2px solid darkgrey;margin:3px" class="form-control" id="inputCity" @bind-value="@Address.City">
                    </div>
                </div>
                <div class="col-md-6 row">
                    <div class="col-4">
                        <label for="inputCountry" class="form-label label-style">Country</label>
                    </div>
                    <div class="col-8">
                        <input type="text" style="border:2px solid darkgrey;margin:3px" class="form-control" id="inputCountry" @bind-value="@Address.Country">
                    </div>
                </div>

                <div class="col-md-6 row">
                    <div class="col-4">
                        <label for="inputRegion" class="form-label label-style">Region</label>
                    </div>
                    <div class="col-8">
                        <input type="text" style="border:2px solid darkgrey;margin:3px" class="form-control" id="inputRegion" @bind-value="@Address.Region">
                    </div>
                </div>
                <div class="col-md-6 row">
                    <div class="col-4">
                        <label for="inputZip" class="form-label label-style">Postal Code</label>
                    </div>
                    <div class="col-8">
                        <input type="text" style="border:2px solid darkgrey;margin:3px" class="form-control" id="inputZip" @bind-value="@Address.ZipCode">
                    </div>
                </div>

                <div class="col-md-6 row">
                    <div class="col-4">
                        <label for="paymentMethod" class="form-label label-style">Payment Method:</label>
                    </div>
                    <div class="col-8">
                        <select class="form-control" style="border:2px solid darkgrey;margin:3px" id="paymentMethod" @onchange="OnPaymentMethodChanged">
                            <option value="Credit Card">Credit Card</option>
                            <option value="Cash On Delivery">Cash On Delivery</option>
                            <option value="PayPal">PayPal</option>
                        </select>

                    </div>
                </div>
                <div class="col-md-6 row">
                    <div class="col-4">
                        <label for="shippingMethod" class="form-label label-style">Shipping Method:</label>
                    </div>
                    <div class="col-8">
                        <select class="form-control" style="border:2px solid darkgrey;margin:3px" id="shippingMethod" @onchange="OnShippingMethodChanged">
                            <option value="Express">Express</option>
                            <option value="Standard">Standard</option>
                            <option value="Dhl">Dhl</option>
                        </select>
                    </div>
                </div>

                <div class="col-12 mt-3 text-center">
                    <button type="button" style="text-align:center;border-radius: 16px;border-width: 0 0 4px;width:150px;height:35px;margin:3px;" class="btn btn-secondary p-1" data-bs-dismiss="modal">
                        Close
                    </button>
                    @if (!InitialPageData.IsOrderProcessing)
                    {
                        <button type="button" style="width:200px;" class="button-style p-1" @onclick="() => ConfirmOrder()">
                            Confirm Order
                        </button>
                    }
                    else
                    {
                        <button class="btn btn-success" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Loading...
                        </button>
                    }

                </div>
            </form>
        </Content>
    </DialogTemplates>
    <DialogButtons>

    </DialogButtons>
    <DialogEvents OnOpen="@OnDialogOpenHandler"></DialogEvents>
    <DialogAnimationSettings Effect="@DialogEffect.None"></DialogAnimationSettings>
</SfDialog>

<BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.TopRight"
                Timeout="9999999"
                IconType="IconType.FontAwesome"
                ErrorIcon="error_outline"
                InfoIcon="school"
                SuccessIcon="done_outline"
                WarningIcon="warning" />