@page "/seller-dashboard/{UserDetailId}/profile/"
@layout SellerLayout
@rendermode InteractiveServer
@using Blazored.Toast
@using Blazored.Toast.Configuration
@using EcommerceDBProject.Components.Layout
@using Syncfusion.Blazor.Popups;
@using Syncfusion.Blazor.Buttons;
@using Syncfusion.Blazor.Inputs;

<style>
    .container {
        width: 1200px;
        height: auto;
        margin-top: 50px;
        /* Center horizontally */
        background-color: #fff;
        padding: 20px;
        border: 3px solid #355c7d;
        border-radius: 20px;
        box-shadow: 0 20px 20px rgba(223, 214, 214);
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
    }

    .dropdown {
    }

        .dropdown select {
            padding: 8px;
            font-size: 15px;
            width: 240px;
            border-radius: 10px;
        }

    .heading {
        font-family: sans-serif;
        color: #355c7d;
        text-align: center;
        text-decoration: underline;
        font-weight: bold;
    }

    .label-style {
        font-size: 18px;
        font-family: 'Sans Serif';
        color: black;
        font-weight: bold;
        text-align: left
    }

    .text-box {
        border: 1px solid #355c7d;
    }
    /* CSS */
    .button-style {
        background-color: #cf889d;
        width: 200px;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
        height: 40px;
        font-size: 20px;
        outline: 0;
        overflow: hidden;
        padding: 0 20px;
        pointer-events: auto;
        position: relative;
        text-align: center;
        touch-action: manipulation;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: top;
        white-space: nowrap;
        width: 200px;
        z-index: 9;
        transition: box-shadow .2s;
    }

        .button-style:hover {
            box-shadow: #355c7d 0 3px 8px;
        }
</style>

<div class="container">
    <div class="col-12 mt-3 mb-3 text-center">
        <h3 class="heading">Profile Setting</h3>
    </div>
    <div class="col-12 mb-3" style="border:1px solid lightgrey"></div>
    <div class="col-12 row mt-2 p-0">

        <div class="col-6 row m-0 p-0">
            <div class="col-4 m-1 text-left">
                <label class="label-style">First Name</label>
            </div>
            <div class="col-7 m-1">
                <SfTextBox @bind-Value="@Seller.FirstName" CssClass="form-control text-box" Placeholder="Enter First Name"></SfTextBox>
            </div>
        </div>
        <div class="col-6 row m-0 p-0">
            <div class="col-4 m-1 text-left">
                <label class="label-style">Last Name</label>
            </div>
            <div class="col-7 m-1">
                <SfTextBox @bind-Value="@Seller.LastName" CssClass="form-control text-box" Placeholder="Enter First Name"></SfTextBox>
            </div>
        </div>
    </div>
    <div class="col-12 row mt-2 p-0">
        <div class="col-6 row m-0 p-0">
            <div class="col-4 m-1 text-left">
                <label class="label-style">Email</label>
            </div>
            <div class="col-7 m-1">
                <SfTextBox @bind-Value="@SellerDetail.Email" Type="InputType.Email" CssClass="form-control text-box" Placeholder="Enter Email"></SfTextBox>
            </div>
        </div>
        <div class="col-6 row m-0 p-0">
            <div class="col-4 m-1 text-left">
                <label class="label-style">Phone Number</label>
            </div>
            <div class="col-7 m-1">
                <SfTextBox @bind-Value="@SellerDetail.PhoneNumber" Type="InputType.Tel" CssClass="form-control text-box" Placeholder="Enter Phone Number"></SfTextBox>
            </div>
        </div>
    </div>
    <div class="col-12 row mt-2 p-0">

        <div class="col-6 row m-0 p-0">
            <div class="col-4 m-1 text-left">
                <label class="label-style">House Number</label>
            </div>
            <div class="col-7 m-1">
                <SfTextBox @bind-Value="@SellerAddress.HouseNumber" CssClass="form-control text-box" Placeholder="Enter House Number"></SfTextBox>
            </div>
        </div>

        <div class="col-6 row m-0 p-0">
            <div class="col-4 m-1 text-left">
                <label class="label-style">Street</label>
            </div>
            <div class="col-7 m-1">
                <SfTextBox @bind-Value="@SellerAddress.Street" CssClass="form-control text-box" Placeholder="Enter Street"></SfTextBox>
            </div>
        </div>

    </div>
    <div class="col-12 row mt-2 p-0">

        <div class="col-6 row m-0 p-0">
            <div class="col-4 m-1 text-left">
                <label class="label-style">City</label>
            </div>
            <div class="col-7 m-1">
                <SfTextBox @bind-Value="@SellerAddress.City" CssClass="form-control text-box" Placeholder="Enter City"></SfTextBox>
            </div>
        </div>

        <div class="col-6 row m-0 p-0">
            <div class="col-4 m-1 text-left">
                <label class="label-style">Country</label>
            </div>
            <div class="col-7 m-1">
                <SfTextBox @bind-Value="SellerAddress.Country" CssClass="form-control text-box" Placeholder="Enter Country"></SfTextBox>
            </div>
        </div>

    </div>

    <div class="col-12 row mt-2 p-0">

        <div class="col-6 row m-0 p-0">
            <div class="col-4 m-1 text-left">
                <label class="label-style">Region</label>
            </div>
            <div class="col-7 m-1">
                <SfTextBox @bind-Value="@SellerAddress.Region" CssClass="form-control text-box" Placeholder="Enter Region"></SfTextBox>
            </div>
        </div>

        <div class="col-6 row m-0 p-0">
            <div class="col-4 m-1 text-left">
                <label class="label-style">Zip Code</label>
            </div>
            <div class="col-7 m-1">
                <SfTextBox @bind-Value="@SellerAddress.ZipCode" CssClass="form-control text-box" Placeholder="Enter Zip Code"></SfTextBox>
            </div>
        </div>

    </div>
    <div class="col-12 row mt-2 p-0">

        <div class="col-6 row m-0 p-0">
            <div class="col-4 m-1 text-left">
                <label class="label-style">Password</label>
            </div>
            <div class="col-7 m-1">
                <SfTextBox @bind-Value="@Seller.Password" CssClass="form-control text-box" Placeholder="Enter Password"></SfTextBox>
            </div>
        </div>
        <div class="col-6 row m-0 p-0">
        </div>
    </div>


    <div class="col-12 mt-3 mb-3 text-center">
        <button type="button" class="button-style" @onclick="@OnSaveProfileClick">Save Changes</button>
    </div>
</div>
<BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.TopRight"
                Timeout="9999999"
                IconType="IconType.FontAwesome"
                ErrorIcon="error_outline"
                InfoIcon="school"
                SuccessIcon="done_outline"
                WarningIcon="warning" />