@page "/seller-dashboard/{UserDetailId}"
@layout SellerLayout
@rendermode InteractiveServer
@using EcommerceDBProject.Components.Layout
@using Syncfusion.Blazor.DropDowns;

<PageTitle>Home Page</PageTitle>

<style>
     url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

/* Custom CSS */
.checked {
    color: orange; /* Color for filled stars */
}
.fa-star {
    color: #ccc;
    cursor: pointer; 
}
    .container {
        width: 900px;
        height: auto;
        margin-top: 70px;
        /* Center horizontally */
        background-color: #eef7fc;
        padding: 20px;
        border: 3px solid #355c7d;
        border-radius: 20px;
        box-shadow: 10px 20px 20px rgba(223, 214, 214);
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
    }
    .heading {
        font-family: sans-serif;
        color: #355c7d;
        text-align: center;
        text-decoration: underline;
        font-weight: bold;
    }

    .label-style {
        font-size: 18px;
        font-family: inherit;
        color: black;
        font-weight: bold;
        text-align: left
    }

    .text-box {
        border: 2px solid #355c7d;
    }
    .profile-picture {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border-color: black;
        background-color: #c6b4b4;
        margin: 0 auto 20px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .profile-picture img {
            width: 95%;
            height: auto;
            border-radius: 50%;
        }
</style>
<div class="container col-12">
    <div class="col-12 m-2 p-0 row">
        <div class="col-4 text-center">
            <div class="profile-picture">
                <img src="user.png" alt="Profile Picture" />
            </div>
        </div>
        <div class="col-8">
            <div class="col-12">
                <h2 class="text-left" style="font-weight:bold;font-family:inherit;text-align:left;margin-top:45px;">Hello @InitialPageData.SellerName</h2>
            </div>
            <div class="col-12">
                <lable style="text-align:left;color:grey;font-size:18px;">@InitialPageData.Email</lable>
            </div>
            <div class="col-12">
                <lable style="text-align:left;color:grey;font-size:18px;">@InitialPageData.PhoneNumber</lable>
            </div>
        </div>
    </div>
    <div class="col-12 mt-2 mb-2" style="border-bottom:2px solid lightgrey"> </div>
    <div class="col-12 mb-3 row">
        <div class="col-7 row">
            <div class="col-12 mt-3 p-0 mb-2">
                <h3 style="margin-left:10px;font-weight:bold;">Account Details</h3>
            </div>
            <div class="col-12 row">
                <div class="col-4">
                    <label class="text-left" style="text-align:left;font-size:18px;font-weight:bold">Password : </label>
                </div>
                <div class="col-7">
                    <label class="text-left" style="text-align:left;font-size:18px;margin-left:-25px;">@InitialPageData.Password</label>
                </div>
            </div>
            <div class="col-12 row">
                <div class="col-5">
                    <label class="text-left" style="text-align:left;font-size:18px;font-weight:bold">Registration date: </label>
                </div>
                <div class="col-7">
                    <label class="text-left" style="text-align:left;font-size:18px;margin-left:-27px">@InitialPageData.RegistrationDate</label>
                </div>
            </div>
            <div class="col-12 row">
                <div class="col-4">
                    <label class="text-left" style="text-align:left;font-size:18px;font-weight:bold">Seller Rating : </label>
                </div>
                <div class="col-8">
                    @for(int i =0; i<=5;i++)
                    {
                        if(i <= @InitialPageData.SellerRating)
                        {
                            <span style="border:1px solid black" class="fa fa-star checked"></span>
                        }
                        else
                        {
                            <span class="fa fa-star"></span>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-5 row">
            <div class="col-12 mt-3 p-0 mb-2">
                <h3 style="margin-left:10px;font-weight:bold;">Address</h3>
            </div>
            <div class="col-12 row">
                <div class="col-3">
                    <label class="text-left" style="text-align:left;font-size:18px;font-weight:bold">City : </label>
                </div>
                <div class="col-9">
                    <label class="text-left" style="text-align:left;font-size:18px;margin-left:-20px;">@InitialPageData.City</label>
                </div>
            </div>
            <div class="col-12  row">
                <div class="col-3">
                    <label class="text-left" style="text-align:left;font-size:18px;font-weight:bold">Country: </label>
                </div>
                <div class="col-9">
                    <label class="text-left" style="text-align:left;font-size:18px;">@InitialPageData.Country</label>
                </div>
            </div>
       
        </div>
       
    </div>
</div>
<BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.TopRight"
                Timeout="9999999"
                IconType="IconType.FontAwesome"
                ErrorIcon="error_outline"
                InfoIcon="school"
                SuccessIcon="done_outline"
                WarningIcon="warning" />