@page "/seller-dashboard/{UserDetailId}/apply-promotion/"
@layout SellerLayout
@rendermode InteractiveServer
@using EcommerceDBProject.Components.Layout


<style>
    .container {
        width: 95%;
        margin: 30px 20px 20px 30px;
        background-color: #fff;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(223,214,214);
    }

    .head {
        background-color: #355c7d;
        color: #fff;
    }

    .label-style {
        font-size: 18px;
        font-weight: bold;
        text-align: left;
        margin: 2px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .hover-design {
        background-color: #eef6ff;
        border-bottom: 1px solid black
    }

    .button-style {
        background-color: #cf889d;
        width: 200px;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
        height: 30px;
        font-size: 18px;
        outline: 0;
        overflow: hidden;
        padding: 0 20px;
        pointer-events: auto;
        position: relative;
        text-align: center;
        touch-action: manipulation;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: top;
        white-space: nowrap;
        z-index: 9;
        border: 2px solid #c06c84;
        transition: box-shadow .2s;
    }

        .button-style:hover {
            box-shadow: #355c7d 0 3px 8px;
        }
</style>

<div class="container">
    <div class="col-12 row">
        <div class="col-4"></div>
        <div class="col-4 text-center">
            <h1 style="color:#234b6e;font-weight:bold;font-family:Arial, Helvetica, sans-serif">All Promotion</h1>
        </div>
        <div class="col-4">
        </div>
    </div>
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="head">
                    <tr>
                        <th scope="col">Promotion Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Discount Percentage</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Apply Promotion</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var promotion in InitialPageData.PromotionList)
                    {
                        <tr class="hover-design">
                            <th scope="row">@promotion.PromotionName</th>
                            <td>@promotion.PromotionDescription</td>
                            <td>@promotion.DiscountPercentage</td>
                            <td>@promotion.StartDate</td>
                            <td>@promotion.EndDate</td>
                            <td><button class="button-style" @onclick="() => OpenApplyPromotionDialogBox(promotion)">Apply Promotion</button></td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

<SfDialog CssClass="col-6" Width="70%" Target="#target1" IsModal="true" ShowCloseIcon="true" @bind-Visible="@InitialPageData.ApplyPromotionDialogBox">
    <DialogTemplates>
        <Header>
            <div class="text-center">
                <label class="text-center" style="font-size:22px;text-align:center;font-family:sans-serif;font-weight:bold">Apply Promotion</label>
            </div>
        </Header>
        <Content>
            <form class="row g-3 m-3">
                <div class="col-12 m-0 p-0 row">
                    <div class="col-12 m-0 p-0 row">
                        <div class="col-6 row">
                            <div class="col-3">
                                <label for="paymentMethod" class="label-style">Category :</label>
                            </div>
                            <div class="col-7">
                                <select class="form-control" style="border:2px solid darkgrey;margin:3px" @onchange="OnProductCategoryChanged">
                                    <option class="category-option" style="border:1px solid lightgrey;" value="no-select">
                                        Select Category
                                    </option>
                                    @foreach (var productCategory in InitialPageData.ProductCategoriesList)
                                    {
                                        <option class="category-option" style="border:1px solid lightgrey;"
                                                value="@productCategory.CategoryId">
                                            @productCategory.CategoryName
                                        </option>
                                    }
                                </select>
                            </div>
                            <div class="col-1"></div>
                        </div>
                        <div class="col-6 row">
                            <div class="col-3">
                                <label for="paymentMethod" class="label-style">Product : </label>
                            </div>
                            <div class="col-7">
                                <select class="form-control" style="border:2px solid darkgrey;margin:3px" @onchange="OnInventoryItemChanged">
                                    <option class="category-option" style="border:1px solid lightgrey;" value="no-select">
                                        Select Product
                                    </option>
                                    @foreach (var inventoryItem in InitialPageData.InventoryItemsList)
                                    {
                                        var productName = ProductService.GetProductFromInventoryItemId(inventoryItem.InventoryItemId).ProductName;
                                        <option class="category-option" style="border:1px solid lightgrey;"
                                                value="@inventoryItem.InventoryItemId">
                                            @productName
                                        </option>
                                    }
                                </select>
                            </div>
                            <div class="col-1"></div>
                        </div>
                    </div>
                    <div class="col-12 mt-3 text-center">
                        <button type="button" style="text-align:center;border-radius: 16px;border-width: 0 0 4px;width:200px;height:40px;margin:3px;" class="btn btn-secondary p-1" data-bs-dismiss="modal">
                            Close
                        </button>

                        <button type="button" style="text-align:center;border-radius: 16px;border-width: 0 0 4px;width:200px;height:40px;margin:3px;" class="btn btn-success p-1" @onclick="() => ApplyPromotionOnProduct()">
                            Apply Promotion
                        </button>

                    </div>
                </div>
                
            </form>
        </Content>
    </DialogTemplates>
    <DialogButtons>

    </DialogButtons>
    <DialogEvents OnOpen="@OnDialogOpenHandler"></DialogEvents>
    <DialogAnimationSettings Effect="@DialogEffect.None"></DialogAnimationSettings>
</SfDialog>

<BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.TopRight"
                Timeout="9999999"
                IconType="IconType.FontAwesome"
                ErrorIcon="error_outline"
                InfoIcon="school"
                SuccessIcon="done_outline"
                WarningIcon="warning" />