@code {
    [Inject]
    private NavigationManager NavigationManager { get; set; }

    private string CurrentUrl { get; set; }
    private string UserDetailId { get; set; }

    protected override void OnInitialized()
    {
        CurrentUrl = NavigationManager.Uri;
        UserDetailId = CurrentUrl.Split('/')[4];
    }
}

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="@($"{CurrentUrl}")">EcommerceDBProject</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@($"seller-dashboard/{UserDetailId}")" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@($"seller-dashboard/{UserDetailId}/products")">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> All Products
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@($"seller-dashboard/{UserDetailId}/buy-products")">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Buy Products
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@($"seller-dashboard/{UserDetailId}/orders")">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Orders
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@($"seller-dashboard/{UserDetailId}/revenu")">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Revenue
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@($"seller-dashboard/{UserDetailId}/apply-promotion")">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Apply Promotion
            </NavLink>
        </div>

    </nav>
</div>

