@page "/admin/add-supplier/"
@layout AdminLayout
@rendermode InteractiveServer
@using Blazored.Toast
@using Blazored.Toast.Configuration
@using EcommerceDBProject.Components.Layout
@using Syncfusion.Blazor.Popups;
@using Syncfusion.Blazor.Buttons;
@using Syncfusion.Blazor.Inputs;

<PageTitle>AddSupplier</PageTitle>

<style>
    .container {
        width: 1200px;
        height: auto;
        margin-top: 100px;
        /* Center horizontally */
        background-color: #fff;
        padding: 20px;
        border: 3px solid #355c7d;
        border-radius: 20px;
        box-shadow: 0 20px 20px rgba(223, 214, 214);
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
    }

    .dropdown {
    }

        .dropdown select {
            padding: 8px;
            font-size: 15px;
            width: 240px;
            border-radius: 10px;
        }

    .heading {
        font-family: sans-serif;
        color: #355c7d;
        text-align: center;
        text-decoration: underline;
        font-weight: bold;
    }

    .label-style {
        font-size: 18px;
        font-family: inherit;
        color: black;
        font-weight: bold;
        text-align: left
    }

    .text-box {
        border: 2px solid #355c7d;
        width:100%;
    }
    /* CSS */
    .button-style {
        background-color: #cf889d;
        width: 200px;
        border: 1px solid #355c7d;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
        height: 40px;
        font-size: 20px;
        outline: 0;
        overflow: hidden;
        padding: 0 20px;
        pointer-events: auto;
        position: relative;
        text-align: center;
        touch-action: manipulation;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: top;
        white-space: nowrap;
        width: 200px;
        z-index: 9;
        transition: box-shadow .2s;
    }

        .button-style:hover {
            box-shadow: #355c7d 0 3px 8px;
        }
</style>

<div class="container">
    <div class="col-12 mt-3 mb-3 text-center">
        <h3 class="heading">ADD SUPPLIER</h3>
    </div>
    <div class="col-12 mb-3" style="border:1px solid lightgrey"></div>
    <div class="col-12 row p-0">

    <div class="col-12 row p-0">

        <div class="col-12 row mt-2 m-1 p-0">
            <div class="col-2  text-left">
                <label class="label-style">Supplier Name</label>
            </div>
            <div class="col-9 " style="margin-left:7px;width:915px">
                    <SfTextBox @bind-Value="@Supplier.SupplierName" class="text-box" style="height:40px;" Placeholder="Enter Supplier Name"></SfTextBox>
            </div>
        </div>

    </div>

    <div class="col-12 row  p-0">

        <div class="col-6 row m-0 p-0">
            <div class="col-4 m-1 text-left">
                <label class="label-style">Contact Person Name</label>
            </div>
            <div class="col-7 m-1">
                    <SfTextBox @bind-Value="@Supplier.ContactPersonName" class="text-box" style="height:40px;" Placeholder="Enter Name"></SfTextBox>
            </div>
        </div>

        <div class="col-6 row m-0 p-0">
            <div class="col-4 m-1 text-left">
                    <label class="label-style">Contact Person Phone Number</label>
            </div>
            <div class="col-7 m-1">
                    <SfTextBox @bind-Value="@Supplier.ContactPersonPhoneNumber" class="text-box" style="height:40px;" Placeholder="Enter Phone Number"></SfTextBox>
            </div>
        </div>
    </div>

    <div class="col-12 row p-0">
        <div class="col-6 row m-0 p-0">
            <div class="col-4 m-1 text-left">
                <label class="label-style">Supplier Email</label>
            </div>
            <div class="col-7 m-1">
                <SfTextBox @bind-Value="@SupplierDetails.Email" Type="InputType.Email" class="text-box" style="height:40px;" Placeholder="Enter Email"></SfTextBox>
            </div>
        </div>
        <div class="col-6 row m-0 p-0">
            <div class="col-4 m-1 text-left">
                    <label class="label-style" >Supplier Phone Number</label>
            </div>
            <div class="col-7 m-1">
                <SfTextBox @bind-Value="@SupplierDetails.PhoneNumber" Type="InputType.Tel" class="text-box" style="height:40px;" Placeholder="Enter Phone Number"></SfTextBox>
            </div>
        </div>
    </div>

    <div class="col-12 row p-0">
        
        <div class="col-6 row m-0 p-0">
            <div class="col-4 m-1 text-left" >
                <label class="label-style">Factory Plot Number</label>
            </div>
            <div class="col-7 m-1">
                    <SfTextBox @bind-Value="@SupplierAddress.HouseNumber" class="text-box" style="height:40px;" Placeholder="Enter Plot Number"></SfTextBox>
            </div>
        </div>

        <div class="col-6 row m-0 p-0">
            <div class="col-4 m-1 text-left">
                <label class="label-style">Street</label>
            </div>
            <div class="col-7 m-1">
                <SfTextBox @bind-Value="@SupplierAddress.Street" class="text-box" style="height:40px;" Placeholder="Enter Street"></SfTextBox>
            </div>
        </div>

    </div>

    <div class="col-12 row p-0">
        
        <div class="col-6 row m-0 p-0">
            <div class="col-4 m-1 text-left">
                <label class="label-style">City</label>
            </div>
            <div class="col-7 m-1">
                <SfTextBox @bind-Value="@SupplierAddress.City" class="text-box" style="height:40px;" Placeholder="Enter City"></SfTextBox>
            </div>
        </div>

        <div class="col-6 row m-0 p-0">
            <div class="col-4 m-1 text-left">
                <label class="label-style">Country</label>
            </div>
            <div class="col-7 m-1">
                <SfTextBox @bind-Value="@SupplierAddress.Country" class="text-box" style="height:40px;" Placeholder="Enter Country"></SfTextBox>
            </div>
        </div>

    </div>

    <div class="col-12 row p-0">
        
        <div class="col-6 row m-0 p-0">
            <div class="col-4 m-1 text-left">
                <label class="label-style">Region</label>
            </div>
            <div class="col-7 m-1">
                <SfTextBox @bind-Value="@SupplierAddress.Region" class="text-box" style="height:40px;" Placeholder="Enter Region"></SfTextBox>
            </div>
        </div>

        <div class="col-6 row m-0 p-0">
            <div class="col-4 m-1 text-left">
                <label class="label-style">Zip Code</label>
            </div>
            <div class="col-7 m-1">
                <SfTextBox @bind-Value="@SupplierAddress.ZipCode" class="text-box" style="height:40px;" Placeholder="Enter Zip Code"></SfTextBox>
            </div>
        </div>

    </div>

    <div class="col-12 mt-3 mb-3 text-center">
        <button type="button" class="button-style" @onclick="AddSupplierIntoDatabase">Add Supplier</button>
    </div>
</div>
</div>
<BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.TopRight"
                Timeout="9999999"
                IconType="IconType.FontAwesome"
                ErrorIcon="error_outline"
                InfoIcon="school"
                SuccessIcon="done_outline"
                WarningIcon="warning" />